.wp-block-create-block-boilerplate {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

// Remove padding when block has a background colour applied
.has-background {
	padding: 0;
	margin: 0;
}

// Remove margin on blocks by default
.wp-site-blocks > *,
.editor-styles-wrapper .wp-site-blocks > * {
	margin-block-start: 0;
}
